{
  "kv": {
    "cassandra": {{ with secret "services/api-keys-api/kv/data/cassandra/creds" }}{{ .Data.data | toJSON }}{{ end }},
    "jwe-key-mapping": {
      {{- with secret "services/all/kv/data/encryption/keys/stored_data" }}
      "payload_jwe_kid": "{{ .Data.data.current_kid }}"
      {{- end }}
    },
    "private-key-jwks": {
      {{- with secret "services/all/kv/data/encryption/keys/stored_data" }}
      "keys": {{ .Data.data.private_jwks | base64Decode | sprig_quote }}
      {{- end }}
    },
    "data-domain-key": {
      {{- with secret "services/api-keys-api/kv/data/keys/data-domain-key" }}
      "value": "{{ .Data.data.key }}"
      {{- end }}
    },
    "registrations": {
      {{- with secret "services/api-keys-api/kv/data/registrations/services" }}
      "services": {{ .Data.data.services | base64Decode | sprig_quote }}
      {{- end }}
    }
  }
}
