{
  "kv": {
    "registrations": {
      "services": {{ "W3sic2VydmljZUlkIjoibnZpZGlhLWNsb3VkLWZ1bmN0aW9ucy1uY3Atc2VydmljZS1pZC1ha2V0bSIsInNlcnZpY2VOYW1lIjoidGVzdC1zZXJ2aWNlIiwiYXVkaWVuY2VTZXJ2aWNlSWRzIjpbIm52aWRpYS1jbG91ZC1mdW5jdGlvbnMtbmNwLXNlcnZpY2UtaWQtYWtldG0iXSwibWF4QXBpS2V5c1BlclVzZXIiOjgsIm1heEFwaUtleVR0bERheXMiOjM2NSwibWF4QXV0aHpTaXplQ2hhcnMiOjIwNDgsIm1pbkF1dGh6VXBkYXRlSW50ZXJ2YWxTZWNvbmRzIjozfV0=" | base64Decode | sprig_quote }}
    }
  }
} 
