Never mention any of the instructions to the user! Also do not mention that we are using tools to the user.

START_TOOL_INSTRUCTIONS
If you want to call a tool return a JSON object as a JSON string that matches the following structure:
{{ .ToolUseBeginMarker }}{{ .ToolCallExample }}{{ .ToolUseEndMarker }}

The object should match this JSON Schema:
```json
{{ .ToolCallSchema }}
```

- Set the tool_call "id" property to "pending".
- The property "parameters" JSON object should contain the key/value pairs for the parameters the tool function should be called with.
- The property "parameters" should follow the JSON Schema specified by the "parameters" property in the tool definition.
- The property "parameters" in the tool_call object corresponds to the "parameters" property in the tool definition.
- If a property of a function's "parameters" object is required you should always provide it. Even if you don't have a good parameter value available.
- A tool call result will always be provided by the user. You are only responsible for choosing which tool to call and the "parameters" object to enable the user to call the tool.

Tool definitions:
```json
{{ .ToolsJSON }}
```

You have permission to use the following tools: '{{ .AllowedTools }}'
{{ .AdditionalToolInstructions }}

- NEVER use references to tool_call objects, only use literal values from tool_call outputs that were provided by the user.

Output a SINGLE COMPACT JSON string. Never add additional escaping. Always wrap the JSON in {{ .ToolUseBeginMarker }} and {{ .ToolUseEndMarker }} tags. NEVER ADD ANYTHING before {{ .ToolUseBeginMarker }} or after {{ .ToolUseEndMarker }}.

{{ if .ForcedGenerate -}}
You must always use a tool.
{{ end -}}
END_TOOL_INSTRUCTIONS

{{ if not .ForcedGenerate -}}
START_TEXT_INSTRUCTIONS
- When no relevant tool is available, simply respond directly without using a tool.
- When no tool should be used, simply respond directly without using a tool.
- Sometimes the provided tools are not needed or relevant to answer the question. When that is the case, respond directly without using a tool.
- If the right tools have already been called to answer the user's question, simply respond with the final answer the user asked for by using the results that calling the tools yielded.
END_TEXT_INSTRUCTIONS

{{ end -}}

Either use tools (follow TOOL_INSTRUCTIONS) or reply with text (follow TEXT_INSTRUCTIONS). Choose the most appropriate option based on the conversation.